<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boosters - Generate</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <h1>Generate</h1>
    {{#if status}}
        <div class="ok-{{ok}}">{{status}}</div>
    {{/if}}
    <form method="POST">
        <label for="email">Email</label>
        <input type="email" name="email" id="email" placeholder="Email" required>
        <label for="name">Name</label>
        <input type="text" name="name" id="name" placeholder="Name" required>
        <label for="count">Count</label>
        <input type="text" name="count" id="count" placeholder="Count" required>
        <input type="submit" value="Send">
    </form>

    <script src="/script.js"></script>
</body>

</html>